.post
  display: grid
  grid-template-columns: 25rem 37.5rem 
  min-height: 25rem
  &__preview
    display: flex
    justify-content: center
    align-items: center
    border-radius: 1rem 0rem 0rem 1rem
  &__content
    padding: 2.0625rem
    display: flex
    flex-direction: column
  &__content-header
    display: flex
    justify-content: space-between
    font-family: OpenSans
    margin-bottom: 25px
  &__category
    text-transform: uppercase
    font-weight: 600
    font-size: 20px
  &__time-ago
    font-size: 18px
  &__title
    margin-bottom: 15px
  &__text
    margin-bottom: auto
  &__content-footer
    display: flex
    justify-content: space-between